body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #0D2C30;
  color: #fff;
}

.construction-banner {
  background-color: #FFD700;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

* {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
}
